@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 50px 0;
}

section {
    width: 850px;

    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.square {
    width: 200px;
    height: 200px;
    border: 2px solid #000;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#purple {
    background-color: purple;
}

#grey {
    background-color: grey;
}

#red {
    background-color: red;
}

h2 {
    padding: 20px;
}